@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border: 3px solid rgba(240, 70, 70, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: rgb(209 213 219);
}

input[type='range'] {
    -webkit-appearance: none;
    width: 100%;
}

input[type='range']::-webkit-slider-thumb {
    background: #000000;
}
